/* -------------- */
/* Default Values */
/* -------------- */

/* Box Sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset default Margin and Padding */

*,
html {
    margin: 0;
    padding: 0;
}

/* Set default body styles */

body {
    line-height: 1.5;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-size: cover;
    background-position: bottom;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

/* Images Setup */

img,
picture {
    max-width: 100%;
    display: block;
}

/* Form Element Setup */

input,
button,
textarea,
select {
    font: inherit;
}

/* Reset list style to none */

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}

/* Reset lists padding */

menu,
ol,
ul {
    padding-left: 0;
}

/* Reset list markers */

article ol,
article ul {
    list-style-position: inside;
}

/* Reset Cursor for Elements */

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
    cursor: pointer;
}

/* --------------- */
/* Set Root Values */
/* --------------- */

:root {
    --red: hsl(0, 100%, 66%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
    /* - Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%) */
}

/* --------------- */
/* Utility Classes */
/* --------------- */

/* Flex Container */

.flex {
    display: flex;
    gap: var(--gap, 2rem);
}

/* flex Center */

.flex-center {
    justify-content: center;
    align-items: center;
}

/* Grid Container */

.grid {
    display: grid;
    gap: var(--gap, 2rem);
    height: 100vh;
}

/* TypeScripts */

.text-white {
    color: #ffffff;
}

.text-black {
    color: #000000;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

/* -------------- */
/* Custom Classes */
/* -------------- */

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Style card Images Section */

.card-image-section {
    height: 220px;
    background-image: url("../images/bg-main-mobile.png");
    background-size: cover;
    background-position: center;
}

.card {
    position: relative;
    width: 375px;
    padding-block-start: 20px;
    margin-inline: auto;
}

.card-image {
    width: 300px;
}

.card-back-image {
    position: absolute;
    right: 1rem;
}

.card-front-image {
    position: relative;
    top: 5.8rem;
    left: 1rem;
}

.display-card {
    z-index: 10000;
    letter-spacing: 1px;
}

.display-cvv {
    position: absolute;
    top: 5.5rem;
    right: 3.5rem;
}

.circle-filled {
    width: 30px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: 8rem;
    left: 2rem;
}

.circle-hollow {
    width: 15px;
    aspect-ratio: 1;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid white;
    position: absolute;
    top: 8.5rem;
    left: 4.5rem;
}

.display-number {
    position: absolute;
    word-spacing: 7px;
    top: 12rem;
    left: 3rem;
}

.display-name {
    position: absolute;
    top: 14rem;
    left: 3rem;
    font-size: 0.8rem;
}

.display-expiry {
    position: absolute;
    top: 14rem;
    right: 5.5rem;
    font-size: 0.8rem;
}

/* Style Form Section */

.form {
    padding-block-start: 110px;
    padding-inline: 20px;
    letter-spacing: 2px;
    font-size: 0.9rem;
}

.form > * {
    margin-bottom: 30px;
}

label {
    color: var(--very-dark-violet);
}

input {
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid var(--light-grayish-violet);
    border-radius: 8px;
    font-family: sans-serif;
    font-size: 1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
}

.expiry {
    width: 50%;
    display: inline-block;
}

.expiry > label {
    display: block;
}

.month-input {
    width: 47%;
    display: inline-block;
}

.year-input {
    width: 47%;
    display: inline-block;
}

.cvv {
    width: 48%;
    display: inline-block;
}

input::placeholder {
    color: var(--light-grayish-violet);
}

button {
    width: 100%;
    color: var(--light-grayish-violet);
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding-block: 10px;
    margin-top: 20px;
    background-color: var(--very-dark-violet);
    border: 1px solid var(--very-dark-violet);
    border-radius: 8px;
}

.error {
    text-transform: capitalize;
    color: red;
    font-size: 0.8rem;
}

.thank-you {
    padding-block-start: 110px;
    padding-inline: 20px;
    letter-spacing: 2px;
    font-size: 0.9rem;
    text-align: center;
    display: none;
}

.tick-image {
    justify-content: center;
}

.thank-you h1 {
    margin-block: 20px;
    font-size: 2rem;
}

.thank-you p {
    margin-bottom: 30px;
}

/* ------------- */
/* Media queries */
/* ------------- */

/* When screen size increases than 767px */

@media (min-width: 890px) {
    .wrapper {
        display: flex;
        gap: 12rem;
    }

    .card-image-section {
        height: 100vh;
        background-image: url("../images/bg-main-desktop.png");
    }

    .card-image {
        width: 100%;
    }

    .card-front-image {
        left: 4rem;
    }

    .card-back-image {
        top: 22rem;
        left: 10rem;
    }

    .display-cvv {
        top: 27.5rem;
        left: 27.5rem;
    }

    .circle-filled {
        top: 8rem;
        left: 5rem;
    }

    .circle-hollow {
        top: 8.5rem;
        left: 7.5rem;
    }

    .display-number {
        top: 14rem;
        left: 6rem;
        font-size: 1.3rem;
    }

    .display-name {
        top: 17rem;
        left: 6rem;
    }

    .display-expiry {
        top: 17rem;
        right: 0.5rem;
    }

    .thank-you {
        width: 100%;
        padding-top: 200px;
    }
}
